html, body {
    background: rgb(145, 0, 121);
    background: linear-gradient(219deg, rgb(65, 0, 54) 0%, rgb(64, 0, 75) 40%, rgb(55, 0, 65) 47%, rgb(0, 103, 124) 100%); 
}
#container {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    background: fixed;
    background-color: rgb(43, 43, 43);
}
