#container {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    background: rgb(145,0,121);
    background: linear-gradient(219deg, rgba(145,0,121,1) 0%, rgba(108,0,128,1) 40%, rgba(108,0,128,1) 47%, rgba(0,212,255,1) 100%); 
}
